version: '3.9'

services:
  backend:
    build: ./backend
    container_name: flask_api
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
    environment:
      - FLASK_ENV=development
      - DB_HOST=db
      - DB_USER=root
      - DB_PASS=rootpassword
      - DB_NAME=gestion_salas
      - DB_PORT=3306
    depends_on:
      db:
        condition: service_healthy

  frontend:
    build: ./frontend
    container_name: react_app
    ports:
      - "3000:3000"
    depends_on:
      - backend

  db:
    image: mysql:8
    container_name: mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: gestion_salas
    ports:
      - "3308:3306"
    volumes:
      - mysql-data:/var/lib/mysql
      - ./database/docker-init/:/docker-entrypoint-initdb.d/
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 20

volumes:
  mysql-data: