/* .resource-button {
  background-color: #003366;
  color: white;
  border: none;
  padding: 15px 25px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.resource-button:hover {
  background-color: #0055a4;
} */
